.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.products-category {
  display: flex;
  flex-flow: row wrap;
  margin: 100px auto;
  width: 70%;
}

