.link-product {
  align-items: center;
  color: #333;
  font-size: 14px;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.product {
  align-items: center;
  background-color: white;
  border-radius: 4px;
  box-shadow: 7px 7px 8px -10px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
  text-align: center;
  width: 244px;
}

.img-product {
  height: 130px;
  margin-top: 24px;
  width: 130px;
}

.info-product {
  align-items: flex-start;
  border-top: 4px solid #0260ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  text-align: left;
  width: 100%;
}

.price-product {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 8px;
}

.title-product {
  font-size: 12px;
  line-height: 1.4;
}

.frete {
  color: green;
  font-weight: 700;
}

.add-cart-btn {
  background-color: #0260ad;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  width: 100%;
}
